.product-recommendations {
    padding: 20px;
    text-align: center;
    max-width: 1400px;
    margin: 0 auto;
  }
  
  .product-recommendations h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: left;
    background-color: #f5f5f5;
    text-transform: uppercase;
  }
  
  .recommendations-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .product-item {
    width: 200px;
    margin: 10px;
    text-align: center;
  }
  
  .product-item img {
    width: 200px;
    height: 200px;
    object-fit: fill;
        border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  
  .product-item p {
    margin: 5px 0;
    color: #5a2d36;
  }
  
  .product-item .product-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #5a2d36;
    margin-bottom: 10px;
  }
  
  .product-item .product-button {
    background-color: #5a2d36;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    width: 100%;
  }
  
  .product-item .product-button:hover {
    background-color: #733f47;
  }
  
  .color-options {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .color-swatch {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin: 0 5px;
    border: 1px solid #ccc;
    object-fit: cover;
  }
  