.footer {
    padding: 20px;
    margin-top: 20px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.footer-top .social-media a {
    margin: 0 10px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    padding: 0 10px;
}

.footer-section h3 {
    margin-top: 0;
}
